@model IPagedList<PortalDPGE.Web.Models.PaginaViewModel>

<ol class="breadcrumb">
    Você está aqui:
    <li><a href="#">Início</a></li>
    <li class="active">Resultado da Pesquisa</li>
</ol>

<div class="page-header">
    <h3>
        <small> Resultado da busca por:</small><br />
        @ViewBag.Palavra
    </h3>
</div>

@if (Model.TotalItemCount == 0)
{
    <h3 class="text-center">O conteúdo que você está procurando não foi encontrado.</h3>
    <p class="text-center">Use o campo de pesquisa e tente novamente.</p>
}
else
{

    foreach (var item in Model)
    {
        <article class="noticias">
            @if (!string.IsNullOrEmpty(item.SecaoNome))
            {
                <header>
                    <h4 class="text-uppercase">
                        <a href="@Url.RouteUrl(item.RotaNome, new {areaOuSecao = item.SecaoNome, alias = item.Alias})" target="new">
                            @Html.Raw(HttpUtility.HtmlDecode(item.Titulo))
                        </a>
                    </h4>
                </header>

                <a href="@Url.RouteUrl(item.RotaNome, new {areaOuSecao = item.SecaoNome, alias = item.Alias})" target="new" class="btn btn-default btn-sm">LEIA MAIS</a>
            }
            else
            {
                <header>
                    <h4 class="text-uppercase">
                        <a href="@Url.RouteUrl(item.RotaNome, new {alias = item.Alias})" target="new">
                            @Html.Raw(HttpUtility.HtmlDecode(item.Titulo))
                        </a>
                    </h4>
                </header>
                <a href="@Url.RouteUrl(item.RotaNome, new {id = item.Alias})" target="new" class="btn btn-default btn-sm">LEIA MAIS</a>
            }
        </article>
    }
}
@if (ViewBag.ResultadoIsCompleta == false)
{
    <div class="alert alert-warning alert-dismissable text-center" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <p>
            Exibindo os resultados mais recentes, para visualizar todos <a href="@Url.Action("BuscaGeral","Portal", new { palavrachave = ViewBag.Palavra, tipo = "completa" })">clique aqui</a>
        </p>
    </div>

}
<nav>
    @Html.Pager(Model.PageSize, Model.PageNumber, Model.TotalItemCount).Options(o => o
                     .DisplayTemplate("Bootstrap3Pagination")
                     .AddRouteValue("palavrachave", ViewBag.Palavra)
                     .MaxNrOfPages(14)
                     .AlwaysAddFirstPageNumber())
</nav>
