@model IEnumerable<PortalDPGE.Transparencia.Web.Models.ServidorAtivoViewModel>
@{
    ViewBag.Title = "Gestão de Pessoas";
}
<h4>Exibindo dados referentes à: <span class="text-success">@ViewBag.Periodo</span> </h4>

<table class="table table-hover table-bordered table-striped">
    <thead class="thead-green">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funcao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lotacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nomeacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estavel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Antiguidade)
        </th>
    </tr>
    </thead>
    <tbody>
    @if (!Model.Any())
    {
        <h6>Não há registros disponíveis.</h6>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lotacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nomeacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estavel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Antiguidade)
                </td>
            </tr>
        }
    }
    </tbody>
</table>

<hr />
<p class="text-muted"><em>Última atualização: @ViewBag.Periodo)
<br/>fResponsável pelos dados: Gestão de Pessoas da DPRJ</em></p>