@using Newtonsoft.Json
@{
    ViewBag.Title = "Gestão de Pessoas";
}

<h1 class="text-success">Gestão de Pessoas</h1>
<h2>Quadro de cargos - @ViewBag.Situacao</h2>

<div class="row">
    <div class="col-md-4">
        <canvas id="chart-area"></canvas>
        <p class="text-muted">
            <em>
                Referência: @ViewBag.dicionarioGraficoPeriodo<br />
                Responsável pelos dados: Gestão de Pessoas da DPRJ
            </em>
        </p>
    </div>
    <div class="col-md-4">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-green">
                <tr>
                    <th></th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var dic in (Dictionary<string, int>)ViewBag.dicionarioGrafico)
                {
                    <tr>
                        <td>@dic.Key</td>
                        <td>@dic.Value</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<hr />


<div class="form-group row">
    <label class="col-sm-2 control-label">Filtre por data:</label>
    <div class="col-md-4">
        <select class="form-control">
            <option>Mês/Ano</option>
            @foreach (var periodo in (IEnumerable<DateTime>)ViewBag.ListaPeriodo)
            {
                <option value="@periodo"> @periodo.ToString("MMMM/yyyy") </option>
            }
        </select>
    </div>
</div>

<div id="partial-tabela-cargo-periodo">
    @{
        Html.RenderAction("ListaQuadroCargosAtivos");
    }
</div>

@section scripts
{

    <script src="~/Scripts/Chart.bundle.js"></script>

    <script>
        window.chartColors = {
            defensores: 'rgb(19,120,65)',
            servidores: 'rgb(110,174,57)',
            extraquadro: 'rgb(33,172,95)',
            cedidos: 'rgb(250,196,64)'
        };
        $(document).ready(function() {
            var ctx = document.getElementById('chart-area').getContext('2d');

            var chart = new Chart(ctx,
                {
                    type: 'pie',
                    data: {
                        labels: @Html.Raw(JsonConvert.SerializeObject(ViewBag.dicionarioGrafico.Keys)),
                        datasets: [
                            {
                                data: @Html.Raw(JsonConvert.SerializeObject(ViewBag.dicionarioGrafico.Values)),
                                //19,120,65
                                backgroundColor: [
                                    window.chartColors.defensores,
                                    window.chartColors.servidores,
                                    window.chartColors.extraquadro,
                                    window.chartColors.cedidos
                                ]
                            }
                        ]
                    },
                    options: {
                        responsive: true,
                        legend: {
                            display: true,
                            position: 'bottom',
                            fullWidth: true
                        }
                    }
                });
        });
    </script>

}
