@model PortalDPGE.Transparencia.Web.Models.ServidorAtivoViewModel
@using Newtonsoft.Json

@{
    ViewBag.Title = "Gestão de Pessoas";
}
@section head
{

    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
}
<h1 class="text-success">Gestão de Pessoas</h1>
<h2>Quadro de cargos - @ViewBag.Situacao</h2>

<div class="row align-items-end">
    <div class="col-md-4">
        <canvas id="chart-area"></canvas>
        <p class="text-muted">
            <em>
                Referência: @ViewBag.dicionarioGraficoPeriodo<br />
                Responsável pelos dados: Gestão de Pessoas da DPRJ
            </em>
        </p>
    </div>
    <div class="col-md-4 align-self-end">
        <table class="table table-hover table-bordered table-striped">
            <thead class="thead-green">
                <tr>
                    <th></th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
            @if (ViewBag.dicionarioGrafico != null)
            {
                foreach (var dic in (Dictionary<string, int>) ViewBag.dicionarioGrafico)
                {
                    <tr>
                        <td>@dic.Key</td>
                        <td>@dic.Value</td>
                    </tr>
                }
            }
            </tbody>
        </table>
    </div>
</div>

<hr />


<div class="form-group row">
    <label class="col-sm-2 control-label">Filtre por data:</label>
    <div class="col-md-4">
        <select class="form-control" id="periodo-data">
            <option value="">Mês/Ano</option>
            @foreach (var periodo in (IEnumerable<DateTime>)ViewBag.ListaPeriodo)
            {
                <option value="@periodo.ToString("'01'-MM-yyyy")"> @periodo.ToString("MMMM/yyyy") </option>
            }
        </select>
    </div>
</div>

<h4>Exibindo dados referentes à: <span class="text-success">@ViewBag.Periodo</span> </h4>

<table id="tab-quadro-ativo" class="table table-hover table-responsive table-bordered table-striped">
    <thead class="thead-green">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lotacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nomeacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Antiguidade)
            </th>

        </tr>
    </thead>
    <tbody></tbody>
</table>

<hr />
<p class="text-muted">
    <em>
        Última atualização: @ViewBag.Periodo
        <br />fResponsável pelos dados: Gestão de Pessoas da DPRJ
    </em>
</p>

@section scripts
{

    <script src="~/Scripts/Chart.bundle.js"></script>
    <script src="~/Scripts/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <script src="~/Scripts/moment.js"></script>

    <script>
        (function (factory) {
            if (typeof define === 'function' && define.amd) {
                define(['jquery'], factory);
            } else if (typeof exports === 'object') {
                factory(require('jquery'));
            } else {
                factory(jQuery);
            }
        })(function ($) {
            function ConsultaQuadroAtivo() {
                this.$periodoSelect = $("#periodo-data");
                this.$quadroCargoTb = $("#tab-quadro-ativo");
                this.$endpoint = "http://dev.api.transparencia.def.rj.br/api/";
                this.$agora = moment().format('[01]-MM-YYYY');
                //grafico:
                this.$graficoCanvas = document.getElementById("chart-area");
                this.dtInit();
                this.init();
            }

            ConsultaQuadroAtivo.prototype = {
                constructor: ConsultaQuadroAtivo,
                init: function () {
                    this.addListener();
                    this.initGrafico();
                },
                
                addListener: function () {

                    this.$periodoSelect.on('change', $.proxy(this.atualizaRegistrosPorPeriodo, this));
                },
                dtInit: function () {
                    var table = this.$quadroCargoTb.DataTable({
                        "language": {
                            "url": '@Url.Content("~/Content/dataTables.pt-br.lang.json")'
                        },
                        "ajax": {
                            "url": this.$endpoint + 'gestaopessoas/quadrocargo/ativo/' + this.$agora,
                            "dataSrc": ""
                        },
                        "columns": [
                            { "data": "Nome" },
                            { "data": "Matricula" },
                            { "data": "Cargo" },
                            { "data": "Funcao" },
                            { "data": "Lotacao" },
                            {
                                "data": "Nomeacao",
                                render: function (value) {
                                    if (value === null) return "";
                                    return moment(value).format('DD/MM/YY');
                                }
                            },
                            { "data": "Estavel" },
                            { "data": "Antiguidade" }
                        ]
                    });
                    this.get = function () { return table; }
                },
                atualizaRegistrosPorPeriodo: function () {
                    var table = $.fn.dataTable.tables({ api: true });
                    console.log(this.$periodoSelect.val());
                    if (this.$periodoSelect.val() !== '')
                        table.ajax.url(this.$endpoint + 'gestaopessoas/quadrocargo/ativo/' + this.$periodoSelect.val()).load();

                },
                chartColors: {
                    defensores: 'rgb(19,120,65)',
                    servidores: 'rgb(110,174,57)',
                    extraquadro: 'rgb(33,172,95)',
                    cedidos: 'rgb(250,196,64)'
                },
                initGrafico: function () {
                    var ctx = this.$graficoCanvas.getContext('2d');
                    return new Chart(ctx,{
                        type: 'pie',
                        data: {
                            labels: @Html.Raw(JsonConvert.SerializeObject(ViewBag.dicionarioGrafico?.Keys)),
                            datasets: [
                                {
                                    data: @Html.Raw(JsonConvert.SerializeObject(ViewBag.dicionarioGrafico?.Values)),

                                    backgroundColor: [
                                        this.chartColors.defensores,
                                        this.chartColors.servidores,
                                        this.chartColors.extraquadro,
                                        this.chartColors.cedidos
                                    ]
                                }
                            ]
                        },
                        options: {
                            responsive: true,
                            legend: {
                                display: true,
                                position: 'bottom',
                                fullWidth: true
                            }
                        }
                    });
                }

            };
            $(function () {
                return new ConsultaQuadroAtivo();
            });
        });
    </script>


}
